body {
  padding: 64px;
}

header {
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  background: red;
}

header img {
  width: 150px;
}

.inicial {
  background: red;
}

.mockups {
  width: 40%;
}