/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/

body {
  font-family: 'Open Sans', sans-serif;
}

/* CABEÇALHO */ 
header {
  padding: 64px 96px 0px 96px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  background: hsl(193, 100%, 96%);
}

header img {
  width: 150px;
}

header button {
  border: none;
  border-radius: 50px;
  background: white;
  padding: 8px 18px 8px 18px;
  box-shadow: 1px 1px 5px 0px rgb(190, 190, 190);
  cursor: pointer;
}

header button:hover {
  background: rgb(204, 204, 204);
  font-weight: bolder;
}

/* CONTEUDO INCIAL */ 
.inicial {
  padding: 0px 96px 96px 96px;
  margin-bottom: 96px;
  background: hsl(193, 100%, 96%);
  display: grid;
  grid-template-columns: 50% 50%;
}

.inicial-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px 34px 0;
}

.inicial-photo {
  width: 100%;
}

h1 {
  font-weight: bolder;
  font-size: 34px;
  margin-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
}

.inicial p {
margin: 12px 0 20px 0;
}

.inicial button {
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
  background: hsl(322, 100%, 66%);
  padding: 15px;
  cursor: pointer;
} 

.inicial button:hover {
  background: hsl(322, 85%, 82%);
}

/* CONTEUDO */ 
.conteudo img {
  width: 260px;
}

.conteudo {
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgb(0, 0, 0, 0.2);
  margin: 24px 96px 120px 96px;
  width: 900px;
  height: 200px;
  border-radius: 20px;
  padding: 6%;
  display: grid;
  grid-template-columns: 50% 50%;
  display: flex;
  justify-content: space-around;
}

.conteudo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px 34px 0;
  color: rgb(130, 130, 130);
}

h2 {
  font-weight: bolder;
  font-size: 26px;
  margin-bottom: 12px;
  font-family: 'Open Sans', sans-serif;
}

/* ULTIMA CAIXA */ 

h3 {
  font-weight: bolder;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(130, 130, 130);
  margin-bottom: 24px;
}

.conteudo-last button{
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 50px;
  background: hsl(322, 100%, 66%);
  padding: 15px;
  cursor: pointer;
}

.conteudo-last button:hover{
  background: hsl(322, 85%, 82%);
}

.conteudo-last {
  background-color: white;
  box-shadow: 1px 1px 5px 0px rgb(0, 0, 0, 0.2);
  width: 450px;
  height: 60px;
  border-radius: 20px;
  padding: 5% 6%;

  line-height: 50%;
  text-align: center;

  position: absolute;
  right: 50%;
  
  transform: translate(50%);
  bottom: -225%;
}

/* FOOTER */ 
footer{
  text-decoration: none;
  padding: 120px 64px 64px 56px;
  color: white;
  background: hsl(192, 100%, 9%)
}

.footer-logo {
  width: 120px;
  margin-bottom: 24px;
}

footer a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

footer a:hover {
  text-decoration: underline;
}

footer ul{
  display: grid;
  grid-template-columns: 30% 25% 25% 20%;
}

.li-img {
  display: grid;
  flex-direction: row;
  grid-template-columns: 42px auto;
}

.redes-sociais {
  width: 24px;
  filter:invert(100%)
}